.explorer-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  top: 0;
  opacity: 0;
  border-radius: 5px;
  transition: all 350ms;
  background-color: #1f1f1f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 99;
}

.explorer-container:hover {
  transform: scale(1.25);
  opacity: 1;
}

.cardExplorer {
  object-fit: fill;
  width: 300px;
  height: 170px;
  border-radius: 5px 5px 0 0;
}

.footer {
  width: 100%;
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.75rem 0;
}

.icon-container {
  position: relative;
  display: inline-block;
  margin: 0 5px 0 7px;
  cursor: pointer;
}

.icon-circle:before {
  content: "";
  position: absolute;
  left: -8px;
  top: -3px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.icon-circle:hover:before {
  border-color: rgb(255, 0, 0);
}

.right:before {
  left: 82.25px;
}

.icons {
  font-size: 12px;
  margin-right: 1rem;
}

.description > span {
  margin-right: 0.75rem;
  font-size: 14px;
}

.description span:first-child {
  color: rgb(0, 163, 0);
  font-weight: bold;
}

.genre > span {
  margin-right: 0.75rem;
  font-size: 14px;
}
