.row {
  margin: 3vw 0 3vw 20px;
  color: white;
}
.scrollContainer {
  width: 50%;
}
.row__posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 10px 0;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 125px;
  transition: transform 450ms;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.row__poster:hover {
  transform: scale(1.1);
}

.row__posterLarge {
  max-height: 250px;
}
.row__posterLarge:hover {
  transform: scale(1.09);
}

.clipLoaderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
